########################################
# Application
########################################

APP_NAME=myapp
APP_REPO=https://github.com/myapp.git
APP_BRANCH=main

########################################
# Registry (Optional)
########################################

REGISTRY_USERNAME=
REGISTRY_PASSWORD=

########################################
# Reverse Proxy
########################################

PROXY=nginx

########################################
# Domain
########################################

DOMAIN=your_domain
EMAIL=email_for_certbot

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000